body{
    background-color: rgb(180, 123, 233);
}
h1{
    color: brown;

}
.column {
  float: left;
  width: 33.33%;
}
.element {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
 